body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

/*шапка*/

.header {
  background-color: #ffffff;
}
.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header-span {
  color: #000000;
}

.header-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link {
  color: #212121;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.contacts {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
.contacts-link {
  color: #757575;
  text-decoration: none;
}

/* Герой*/

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

/* Features*/

.feature {
  background-color: #e5e5e5;
}

.feauture-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* work */
.work {
  background-color: #e5e5e5;
}

.work-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* our team*/
.team {
  background-color: #f5f4fa;
}

.card-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.card-text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/*footer*/

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.footer-span {
  color: #ffffff;
}

.address-link {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-link {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #2196f3;
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}
