body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.studio-span {
  color: black;
}

.link-nav:hover,
.link-nav:focus {
  color: #2196f3;
}

.contacts {
  color: #757575;
}
